h1{
    color: #1B5E20;
}

h2{
    color:#2E3D2F;
}

.one{
    color:#2E3D2F;
    font-style: italic;
}

p{
    color:#2E3D2F;
}

button{
  background: linear-gradient(135deg, #4CAF50, #2E7D32);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

h3,ul{
   color:#2E3D2F; 
}

body{
    background-image: url('bg.png');
    margin:0;
}

.features-work {
  display: flex;
  gap: 60px;
  padding: 40px;
  font-size: 15px;
}

.features {
  flex: 1;
}

.how-it-works {
  flex: 1;
}

.box {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
}

h2 {
  margin-bottom: 12px;
}

.footer{
    background-color: #4CAF50;
    color: #2E3D2F;
    text-align: center;
    padding:8px;
    font-size: 18px;
}
 
.landing-page{
  
  border: 5px solid #2ecc71;
  border-radius: 12px;
  margin:0;
  
}