*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background:#E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    color:#0F172A;
    font-weight: 600;
    transition: 0.3s ease;
}

span{
    color: skyblue;
}
 
.one{
    color:#0F172A;
}

.logo{
    font-size: 25px;
    color:#0F172A;
    font-weight: 600;
    transition: 0.3s ease;
}

img {
  border-radius:50%;
  padding-top:10px;
  margin:20px;
}


.navbar a{
    font-size:18px;
    color:#0F172A;
    font-weight: 500;
    margin:0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.home{
    width:100%;
    min-height:100vh;
    background: #0F172A;
    display: flex;
    align-items:center;
    gap:7em;
    padding: 30px 12% 0;
}

.home-contact{
    font-size: 42px;
}

.home-content h1{
    font-size: 62px;
    line-height: 1.2;
    color:#E5E7EB;
}

button{
  background:#E5E7EB;
  color: #0F172A;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background-color: #0F172A;
  font-size: xx-large;
  color:#E5E7EB;
}

.about-content img {
  width: 250px;
  border-radius: 50px;
}

.skills{
  padding: 60px 40px;
  background:#0f172a;
}

.skills-content h2{
  width: 600px;
  margin: 2em;
  font-size: 45px;
  color:#e5e7eb;
}

.skill-box{
  background: #E5E7EB;
  padding: 30px;
  margin: 15px 0;
  border-radius: 12px;
  max-width: 400px;
  
}

.skill-box h3{
  font-size: 20px;
  margin: 0;
}

.projects{
  background: #0f172a;  
  color: #e5e7eb;
  padding: 70px 40px;
}

.projects .heading{
  color: #ffffff;
  font-size: 42px;
  margin:1em;
}
.projects .heading span{
  color: #38bdf8;   
}
.project-box{
  background: #020617;
  padding: 30px;
  border-radius: 14px;
  margin: 20px 0;
}

.project-box h3{
  color: #ffffff;
}
.project-box p{
  color: #cbd5f5;
  line-height: 1.6;
}
.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:12% 8%;
    gap:10em;
    background: #0f172a;
}
.contact-content h2{
    text-align: left;
    color: #e5e7eb;
    font-size: 52px;
}
.contact-content p{
     color: #cbd5f5 ;
    font-size:28px;
    margin: 2em;
}
footer {
    text-align: center;
    background:skyblue;
    color: #0f172a;
    padding: 20px;
    font-size: larger;
}









  